.container
{
    width: 100vw;
    height: 100vh;
    
}
.main
{
    display: flex;
    max-width: 75rem;
    min-height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.title
{
    font-size: 6rem;
    justify-self: start;
    color: white;
    margin: 0;

}

.pw
{
    animation: whiteCrash 3s infinite 0s linear;
}
.pb
{
    animation: blackCrash 3s infinite 0s linear;
}
@media (max-width: 600px)
{
    .imagesWrapper
    {
        display: none;
    }
    .title
    {
        font-size: 3rem;
        text-align: center;
        
    }

}
@keyframes whiteCrash{
    0%{
        transform: rotate(-15deg);
        }
    25%{
        transform: rotate(-15deg) translateX(-10%);
        }
    50%{
        transform:  scale(1.2) translateX(-20%);
        }
    75%{
        transform: rotate(-15deg);
        }
  }
  @keyframes blackCrash{
    0%{
        transform: rotate(15deg);
        }
    25%{
        transform: rotate(15deg) translateX(10%);
        }
    50%{
        transform: scale(1.2) translateX(20%);
        }
    75%{
        transform: rotate(15deg);
        }
  }